.jewelry-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: #dbdee2;
}

.jewelry-heading {
  font-size: 28px;
  margin-bottom: 5px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
}

.jewelry-slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jewelry-cards {
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}

.jewelry-card {
  width: 300px;
  margin: 0 10px;
  opacity: 0;
  animation: fade-in 0.5s ease forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.jewelry-card.active {
  opacity: 1;
}

.jewelry-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.jewelry-image:hover {
  transform: scale(1.05);
  border-color: #ff9800;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.jewelry-title {
  font-size: 18px;
  margin-top: 10px;
  color: #333;
}

.jewelry-description {
  color: #333;
  font-size: 15px;
  text-align: center;
  animation: fade-in 1s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.next-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #2b77eb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}

.next-button:hover {
  background-color: #ff9800;
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.full-screen-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* Additional styles for PC screens */
@media only screen and (min-width: 768px) {
  .jewelry-container {
    height: 100vh;
    justify-content: center;
  }

  .jewelry-heading {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .jewelry-slider {
    justify-content: center;
  }

  .jewelry-cards {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
  }

  .jewelry-card {
    width: 300px;
    margin: 10px;
    margin: 20px;
  }

  .jewelry-image {
    height: 200px;
  }

  .jewelry-title {
    font-size: 16px;
    margin-top: 5px;
  }

  .jewelry-description {
    font-size: 24px;
    margin: 2px;
    margin-bottom: -3vh;
  }

  .next-button {
    margin-top: 20px;
    font-size: 18px;
    padding: 12px 24px;
  }
}
