.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #dbdee2;
}

.password-description {
  margin-top: 0;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.password-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.password-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.password-submit:hover {
  background-color: #0056b3;
}
